html{
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
body{
    margin: 0px;
    padding: 0px;
}
.s1{
    background-color:white;
    display: flex;
    gap: 20px;
}
.b2{
    font-size: 15px;
    font-weight: normal;
}
.b3{
    font-size: 2em;   
     margin-top: 15px;
     margin-bottom: 15px;
     cursor: pointer;;
}
.b3:hover{
    color: #424242 !important
    
}
a{
    text-decoration: none;
    color: black;
}
.a1{
    display: flex;
    justify-content: space-around;
}
.s2{
    display: flex;
    gap: 20px;
}
.menu{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 50px;
    margin: 0;
    list-style: none;
    top: -3px;
    background: #002a40;

}
.menu a:hover{
cursor: pointer;
color:white;
}
.e{
    background-color: rgba(255, 255, 255, 0.3);
}
a:hover{
    color: white;
}
.section3{
background-color: rgba(216, 212, 212, 0.9);;
display: flex;
gap: 100px;
padding-left: 100px;
position: relative;
bottom: 25px;
}
.recherche p{
    position: relative;
    border: 1px solid blue;
    background-color: blue;
    display: inline-block;
    padding: 5px 20px;
    bottom: 0px;
    margin-left: 300px;

}
.recherche img{
    position: relative;
    left: 720px;
    z-index: 10;
    bottom: 50px;
}
.section4{
    background-color: #002a40;
    display: flex;
    gap: 50px;
    padding-left: 100px;
    position: relative;
bottom: 25px;
}
.flèche{
    position: relative;
   top: 13px;
}
.p{
    color: white;
}
.colone0{
    border: 1px solid #72797b;
    background-color: #002a40;
    color: white;
    text-align: center;
    width: 500px;
    height: 100px;
    margin-left: 200px;
}
.colone1{
    border: 1px solid #72797b;
    margin-left: 100px;

}
.colone1 div:hover{
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.colone1 div{
    height: 2cm;
    width: 9cm;
}

.colone1 p{
    /* padding-left: 25px; */
    position: relative;
    bottom: 30px;
    left: 25px;
}
.colone1 img{
    /* padding-left: 25px; */
    position: relative;
   top: 15px
}
.colone2{
    border: 1px solid #72797b;
    margin-left: 100px;
    padding: 10px 25px;
}
.colone2 div{
    height: 2.5cm;
}
.colone2 p{
    position: relative;
    bottom: 50px;
    left: 50px;
}
.footer{
    background-color:#002a40;
    padding: 20px;
    color: rgb(167, 184, 200);
}
.icon{
    position: relative;
    bottom: 65px;
    }
.footer1{
    display: flex;
    gap: 200px;
}
.footer2{
    text-align: center;
    color: white;
}
.footer:hover{
    color: rgb(212, 195, 195);
} 